<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <label>
    Name:
    <input type="text" formControlName="name" />
  </label>
  @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
    <div style="color: red">Name is required</div>
  }

  <label>
    Email:
    <input type="email" formControlName="email" />
  </label>

  @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
    <div style="color: red">Enter a valid email</div>
  }

  <label>
    Password:
    <input type="password" formControlName="password" />
  </label>

  @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
    <div style="color: red">Password is required</div>
  }

  <button type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
