@use '../../../../../styles/colors' as colors;

:host {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
}

.register-form {
  width: 100%;
  max-width: 550px;
  padding: 40px;
  background-color: colors.$color-background;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 25px;

  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: colors.$color-secondary;
    font-size: 1.1em;
  }

  input {
    margin-top: 8px;
    padding: 12px 15px;
    border-radius: 8px;
    border: 2px solid lighten(colors.$color-secondary, 40%);
    background-color: white;
    font-size: 1em;
    transition:
      border-color 0.2s,
      box-shadow 0.2s;

    &:focus {
      border-color: colors.$color-primary;
      box-shadow: 0 0 5px rgba(colors.$color-primary, 0.4);
      outline: none;
    }

    &.ng-invalid.ng-touched {
      border-color: colors.$color-danger;
    }
  }

  .error-message {
    color: colors.$color-danger;
    font-size: 0.9em;
    margin-top: -10px;
  }

  button {
    padding: 14px 25px;
    border-radius: 8px;
    background-color: colors.$color-primary;
    border: 2px solid colors.$color-primary;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.2s;

    &:hover:not(:disabled) {
      background-color: darken(colors.$color-primary, 8%);
      transform: translateY(-2px);
    }

    &:disabled {
      background-color: lighten(colors.$color-secondary, 30%);
      border-color: lighten(colors.$color-secondary, 30%);
      cursor: not-allowed;
      color: colors.$color-text-light;
      transform: none;
    }
  }

  .form-bottom-section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;

    a {
      padding: 12px 18px;
      border-radius: 8px;
      font-weight: 600;
      color: colors.$color-primary;
      border: 2px solid colors.$color-primary;
      text-decoration: none;
      transition:
        background-color 0.2s,
        color 0.2s,
        transform 0.2s;

      &:hover {
        background-color: colors.$color-primary;
        color: white;
        transform: translateY(-2px);
      }
    }
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  img {
    width: 70px;
  }
}

h1 {
  margin: 20px 0;
  font-size: 3em;
  color: colors.$color-secondary;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  color: colors.$color-primary;
  font-weight: 400;
}
