<section class="header-section">
  <img src="/images/logo.png" alt="Logo" />
  <h1>Log In To Your Account.</h1>
</section>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
  <label>
    Email
    <input type="email" formControlName="email" />
  </label>
  @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    <div class="error-message">Enter a valid email</div>
  }

  <label>
    Password
    <input type="password" formControlName="password" />
  </label>

  @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
    <div class="error-message">Password is required</div>
  }

  <button type="submit" [disabled]="loginForm.invalid">Submit</button>

  <section class="form-bottom-section">
    <a href="/">Back To Home</a>
    <a href="/register">Don't Have An Account? Sign Up!</a>
  </section>
</form>
